ol
{
    display: flex;
    justify-content:right;
    animation: slide-right 1s ease-in-out forwards;
}
@keyframes slide-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.navbar{
    background-color: black;
    padding: 5px;
    color: white;
    margin-top: -8px;
    margin-left: -8px;
    position: sticky; 
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
color: bisque;
}
.container
{
    color:white;
    background-color:darkgray;
    width:95rem;
    height: 51.7rem;
    margin-left: -8px;
   
  }
  .cont{
    animation: slide-up 2s ease-out forwards;
}
@keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
b{
    color: red;
    font-size: 40px;

}
.sub-container
{
    margin-left: 50px;
}
p{
    width: 800px;
    font-size: 30px;
}
.photo
{
    margin-left: 100px;
    
}
.table{
    margin-left: 200px;
    margin-top: 100px;

}
table{
    border-collapse: collapse;
    font-size: 45px;
    color:aqua;
    background-color: blueviolet;
}
h2{
    font-size: 50px;
    color: blue;
}

.media
{
    margin-left: 500px;
    margin-top: -20px;
    
}
body{
    background-color: darkgray;
}
.form
{
  margin-left: 500px;
}
label{
  font-size: 20px;
  color:chocolate;
}
input
{
  padding: 10px;
  margin-top: 5px;
}
.submit
{
  margin-left: 50px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
.contact
{
  margin-top: 0px;
  font-size: 10px;
  color: blueviolet;
}
.gallery
{
 margin-top: 20px;
  margin-left: 10px;
}
.button
{
  margin-left: 300px;
 
}
button{
  color: white;
  background-color: black;
  border: 10px;
    padding:2px;
  }
  .skills
  {
    margin-left: 100px;
  }
